body {
    margin: 0 auto;
    max-width: 50em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 2em 1em;
    color: #444;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1 {
    font-size: 2.3em;
}

h1,
h2,
strong {
    color: #333;
}

pre {
    background: #eee;
    padding: 5px 1px;
    overflow: auto;
}

hr {
    border-top: 1px dashed #8c8b8b;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    margin-bottom: 1em;
    margin-top: 1em;
}

section.frontpage {
    display: flex;
    flex-direction: column;
}


a {
    color: #2980b9;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.post-date {
    color: grey;
    font-size: 14px;
    margin-top: -25px;
    display: block;
    position: relative;
}

header.navigation {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul.menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.menu li + li:before {
    content: "//";
    padding: 0 4px;
    color: #bfbfbf;
}

.footer {
    font-size: 0.8em;
}

.site-title {
    font-size: 1.5em;
    font-weight: bold;
}


.tag {
    padding: 2px 2px 2px 2px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #bfbfbf;
    border-radius: 3px;
    text-decoration: none;
}

a.tag {
    font-size: 0.8em;
}

a.tag:hover {
    background-color: #2980b9;
    text-decoration: none;
}

.content > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
}

#post-title {
    margin-bottom: 0;
}